body{
    background-color: #ececec;
}

.Container{
    margin-top: 25px;
   display: flex;
   justify-content: center;
}

.Registration{
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 45px;
    width: 400px;
    border-radius: 15px;
}

.Registration h4{
    color: #1569C7;
}


.submitButton{
    background-color: #1569C7;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    width: 300px;
    height: 35px;
}
